{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="about-section-container">
  <div class="about-container">
    <h2>About</h2>
    <p>In an effort to eliminate what is known as the “second disaster”, (a surplus of unused donated resources) our mission is to optimize donations sent in.</p>
    <p>Besides the problem that charity organizations lack transparency with where money and donations are sent, we found that disaster volunteers end up re-inventing the wheel every time responding to a disaster or tragedy.</p>
    <p>The name of our project comes from the Sandy Hook Massacre that occurred in December 2012. While 20 children lost their lives, people from all over sent in donations to help including 67,000 teddy bears. The volunteers needed to rent an extra warehouse to contain all of these toys.</p>
    <p>When seeing this haunting image in my head, we could not help but try to make this very inefficient system more efficient. We imagine that there should have been a cap on the amount of teddy bears sent to Newton, CT and the extra ones are redirected instantly to other people in need.</p>
  </div>
  <!-- <div>
    <img id="teddy-photo" src="https://i.imgur.com/QfhPKNd.jpg" height="250px" width="350px" alt="No Picture">
  </div> -->
</div>
{% endblock %}
