{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>67kTeddyBear</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body class="appBody">
     <header>
       <nav class="navbar navbar-inverse navbar-fixed-top">
         <div class="container-fluid">
           <div class="navbar-header">
             <img src="https://i.imgur.com/yBBmODa.png" alt="logo">
             <a id="navbar-brand" href="/">67kTeddyBear</a>
           </div>
           <ul class="nav navbar-nav">
             <li><a href="/about">About</a></li>
             <li><a href="/relief_efforts">Relief Efforts</a></li>
             {% if user.is_authenticated %}
                 {% if user.is_donor %}
                   <li><a href='/{{ user.id }}/donor-profile'>Profile</a></li>
                 {% elif user.is_org_admin %}
                   <li><a href='/{{ user.id }}/org-admin-profile'>Profile</a></li>
                 {% endif %}
             {% endif %}
             {% if not user.is_authenticated %}
             <li><a href="/signup_login">Sign Up/Login</a></li>
             {% else %}
             <li><a href='/logout'>Logout</a></li>
             {% endif %}
           </ul>
         </div>
       </nav>
     </header>
   <hr />

   {% block content %}
   {% endblock %}

     <footer>
       <nav class="navbar navbar-inverse navbar-fixed-bottom">
         <div class="container-fluid">
           <span id="rightsReserved">All rights reserved, 67kTeddyBear 2018</span>
         </div>
       </nav>
     </footer>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <script src="{% static 'js/app.js' %}"></script>
   </body>
 </html>
