{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron profileJumbotron">
  <div class="container">
    <h1 class="display-3">Welcome back, {{ user.first_name}}!</h1>
    <p>Here are some relief efforts for you to contribute to!</p>
    <!-- <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p> -->
    <p><a class="btn btn-primary btn-lg" href="/relief_efforts" role="button">See Relief Efforts &raquo;</a></p>
  </div>
</div>

<div class="donor-profile-container" >
  <div class="row" style="margin-left:350px;">
  <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
  <div class="panel panel-default plain profile-panel" style="background-color:#FF5653; border:4px solid black">
      <!-- <div class="panel-heading white-content p-left p-right" style="background-color:#FF5653">
          <img class="profile-image img-responsive" src="https://i.imgur.com/0ANlwyB.jpg" alt="profile cover" style="width:100%">
      </div> -->
      <div class="panel-body" style="color:white">
          <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="profile-avatar">
                  <img class="img-responsive" src="https://i.imgur.com/w3hGcdM.jpg" alt="profile picture">
              </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12">
              <div class="donor-user-name">
                  {{ user.first_name }} {{ user.last_name}} <span class="label label-success">Donor</span>
              </div>
              <div class="user-information">
                  <p>Helping this world out, one donation at a time!</p>
              </div>
              <div class="profile-stats-info">

                  <a href="#" title="Views" style="color:white">    <i class="glyphicon glyphicon-eye-open" >  </i> <strong>2000</strong></a>
                  <a href="#" title="Comments" style="color:white"> <i class="glyphicon glyphicon-comment">   </i> <strong>120</strong></a>
                  <a href="#" title="Likes" style="color:white">    <i class="glyphicon glyphicon-thumbs-up"> </i> <strong>60</strong></a>
              </div>
          </div>
      </div>
      <div class="panel-footer white-content" style="background-color:#FF5653">
          <ul class="profile-info" style="color:white">
              <li><i class="glyphicon glyphicon-phone" ></i>      +123.456.7890</li>
              <li><i class="glyphicon glyphicon-map-marker"></i> Austin, TX</li>
              <li><i class="glyphicon glyphicon-envelope"></i>    {{ user.email}}</li>
              <li><i class="glyphicon glyphicon-edit"></i>        Web developer</li>
              <li><i class="glyphicon glyphicon-share"></i>      factory@mail.com</li>
          </ul>
      </div>
      <div class="panel-footer white-content" style="background-color:#FF5653; color: white">
          <!-- <ul class="profile-info" style="color:white"> -->
            <h3 class="myDonationsHeader">My Donations</h3>
            {% for donation in donation_list%}
              <div class="donationItemData">
                <h4>{{donation.name}} {{donation.desc}}</h4>
                <p><a href="/{{donation.relief_effort_id}}">{{donation.relief_effort_name}}</a></p>
                <p>{{donation.date}}</p>
              </div>
            {% endfor %}
          <!-- </ul> -->
      </div>
  </div>
  </div>
  </div>
</div>

    <hr>

{% endblock %}
