{% extends 'base.html' %}

{% block content %}
<div class="jumbotron profileJumbotron">
  <div class="container">
    <h1 class="display-3">{{org_admin.org_name}}</h1>
    <h2>{{org_admin.org_location}}</h2>
    <p>{{org_admin.org_bio}}</p>
  </div>
</div>
 {% if org_admin_as_str == currentUser %}
  <div style="width: 30%; margin: 0 auto;"class="adminAddReliefEffort">
    <h2>Create New Relief Effort</h2>
    <form action="/post_url/" method="post">
       {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Create Relief Effort" />
    </form>
  </div>
{% endif %}
<br>
<h2 style="border-bottom: 1px solid black; width: 30%; padding: 12px; margin: 10px;">Current Relief Efforts</h2>
{% for item in percentage_list %}
 <div style="width: 30%; display: inline-block; margin: 10px; padding: 15px; background-color: {{item.color}};">
     <h3>{{ item.relief_effort.name }}</h3>
     <h4>{{ item.relief_effort.location}}</h4>
     <p>{{item.percentage_fulfilled}}% Needs Met</p>
     <a class="btn btn-info" href="/{{item.relief_effort.id}}">Go To Relief Effort</a>
 </div>
{% endfor %}
{% endblock %}
