body {
  height: 1500px;
}
header .container-fluid {
  background-color: #FF5653;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
}
footer .container-fluid {
  background-color: #FF5653;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#navbar-brand {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  color: white !important;
}
.navbar-header {
  justify-content: center;
}
#rightsReserved {
  color: white;
}
.jumbotron {
  background-image: url("https://i.imgur.com/OWxay9O.jpg");
  background-size: 100%;
  background-position: 25% 50%;
  background-repeat: no-repeat;
  color: white !important;
}
.profileJumbotron {
  background-image: none;
  background: linear-gradient(180deg, #614126, white);
}
.jumbotron .container {
  opacity: 0.8;
}

ul.nav li a, ul.nav li a:visited {
    color: white !important;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin: 10px 0px 10px 0px;
    /* justify-content: flex-end; */
}
ul.nav li a:hover, ul.nav li a:active {
    color: blue !important;
}

.login-form-container {
  /*border: 2px solid #FF5653;*/
  background-color: #FF5653;
  padding: 80px 80px;
  margin: 150px auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.login-form-container p {
  font-size: 20px;
  color: black;
}

.login-form-container h1 {
  font-size: 40px;
  color: white;
}

#sign-up-btn {
  color: white !important;
}

.signup-container {
  display: flex;
  flex-direction: column;
  border: 2px solid #FF5653;
  padding: 80px 80px;
  margin: 200px auto;
  width: 30%;
  background-color: #FF5653;
}

.signup-container a {
  color: white;
}

.donor-signup-container {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  padding: 50px 100px;
  margin: 175px auto;
  width: 50%;
  background-color: #FF5653;
}

.donor-signup-header {
  font-family: 'Roboto', sans-serif;
}

.org-admin-signup {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  padding: 30px 80px;
  margin: 125px auto;
  width: 50%;
  background-color: #FF5653;
}

.admin-signup-header {
  font-family: 'Roboto', sans-serif;
}

.donor-user-name {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

.about-section-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.about-container {
  font-family: 'Roboto', sans-serif;
  background-color: #FF5653;
  display: flex;
  flex-direction: column;
  border: 4px solid #614126;
  color: black;
  padding: 30px 40px;
  margin: 200px auto;
  width: 60%;
}
.about-container h2 {
  font-size: 40px;
}
.about-container p {
  font-size: 18px;
}

/*Donor Profile */
.profile-panel .profile-stats-info a {
    font-size: 24px;
    margin-right: 10px;
    margin-top: 10px;
    color: #79859b;
}

.profile-panel .profile-avatar img {
    border-radius: 50%;
    border: 1px solid #e7e7e2;
}

.profile-panel .profile-avatar {
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #e7e7e2;
    float: left;
}

.donationItemData {
  border: 2px solid #614126;
  padding: 6px 0px 6px 12px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 6px;
}
.myDonationsHeader {
  text-align: center;
  margin-bottom: 20px;
}
